extends layout2
block content
  form(action="/upload", enctype="multipart/form-data", method="post")            
    input(type="file", name="file")
    |             
    input(type="submit", value="Upload", class="btn btn-primary")
      
   divs
   h3 List all uploaded files  
  p(id="msg")
   #files       
